.app__header {
  display: grid !important;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  min-height: 160vh;


  .app__header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        font-size: 3rem;
        line-height: 1;
        font-weight: 700;
        opacity: 1;
        transform: none;

        span {
          background: linear-gradient(#ff00e5, #706FE5);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }

        @media screen and (min-width : 1280px) {
          font-size: 4.5rem;
          line-height: 7.5rem;
        }
      }

      p {
        opacity: 1;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: rgb(107, 114, 128);
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        a:nth-child(1) {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 100%;
          height: 50px;
          border: none;
          text-align: center;
          text-decoration: none;
          border-radius: 0.75rem;
          background-color: rgb(112, 111, 229);
          opacity: 1;
          padding: 0 10px 0 10px;
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: white;
          transform: none;

          @media screen and(min-width: 1280px) {
            width: auto;
          }
        }

        a:nth-child(2) {
          display: flex;
          justify-content: flex-start;
          gap: 1rem;
          text-decoration: none;
          text-align: left;
          cursor: pointer;
          background-color: transparent;
          color: var(--black-color);
          width: 100%;
          height: 50px;
          border: none;
          opacity: 1;
          padding: 0.5rem 2rem 2rem 0.5rem;
          font-size: 1.25rem;
          line-height: 1.75rem;
          transform: none;

          svg {
            box-sizing: content-box;
            border-radius: 9999px;
            opacity: 1;
            background-color: rgb(234, 234, 252);
            padding: 1rem;
            color: rgb(112, 111, 229);
          }

          @media screen and(min-width: 1280px) {
            width: auto;
          }
        }

        @media screen and(min-width: 768px) {
          flex-direction: row;
        }
      }
    }

    @media screen and (min-width : 1280px) {
      padding: 4rem;
    }

    @media screen and (min-width : 768px) {
      grid-column: span 7 / span 7;
    }
  }

  .app__header-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .app__header-image-body {
      width: 250px;
      height: 250px;

      img{
        opacity: 1;
        object-fit: cover;
        max-width: 100%;
        height: auto;
      }

      .app__header-review{
        position: relative;
        margin-top: -7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // max-width: 421px;
        gap: 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
        padding: 1rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        .app__header-review-img{
          display: grid;
          grid-template-columns: repeat(5, 37px);
          justify-content: center;
          align-items: center;

          .pic{
            max-width: 100%;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 9999px;
            object-fit: cover;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border: gray 1px;
            transition: transform 300ms;

            &:hover{
              cursor: pointer;
            }

            &:hover ~ .pic{
              transform: translate(18px);
            }
          }
        }

        h2{
          text-align: center;
          font-size: 1.25rem;
          line-height: 1.75rem;
          font-weight: 700;
          letter-spacing: 1px;
          color: rgb(31,41,55);
        }
      }

      .app__header-review-score{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: rgb(107,114,128);

        svg{
          color: rgb(112, 111, 229);
        }
      }

      @media screen and(min-width : 768px) {
        width: 450px;
        height: 450px;
      }
    }

    .body-img:nth-child(2) {
      display: block;
      max-width: 100%;
      height: auto;
      position: absolute;
      right: 20%;
      top: 12%;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 9999px;
      object-fit: cover;
      transform: none;

      @media screen and(min-width : 1280px) {
        right: 10%;
      }

      @media screen and(min-width : 768px) {
        width: 5rem;
        height: 5rem;
      }
    }

    .body-img:nth-child(3) {
      display: block;
      max-width: 100%;
      height: auto;
      position: absolute;
      left: 20%;
      top: 10%;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 9999px;
      object-fit: cover;
      transform: none;

      @media screen and(min-width : 1280px) {
        top : 2%;
        left: 10%;
      }

      @media screen and(min-width : 768px) {
        width: 5rem;
        height: 5rem;
      }
    }

    .body-img:nth-child(4) {
      display: block;
      max-width: 100%;
      height: auto;
      position: absolute;
      left: 14%;
      bottom: 10%;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 9999px;
      object-fit: cover;
      transform: none;

      @media screen and(min-width : 1280px) {
        left : 3%;     
      }

      @media screen and(min-width : 768px) {
        width: 5rem;
        height: 5rem;
      }
    }

    @media screen and(min-width : 768px) {
      grid-column: span 5 / span 5;
    }
  }

  @media screen and(min-width : 1280px) {
    min-height: 100vh;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}